@*
*@
@{
}

<h2>Edit Product</h2>

<form mothod="post" asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id">
    <p>
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name"/>
    </p>

    <p>
        <label>Price</label>
        <input type="number" step="any" name="Price" value="@Model.Price" />
    </p>

    <p>
        <label>Stock</label>
        <input type="number" name="Stock" value="@Model.Stock" />
    </p>

    <button type="submit">Edit</button>

    <button>
        <a asp-controller="Product" asp-action="Index">Cancel</a>
    </button>
</form>
