@using Products_Web.Data.Constants
@*
*@
@{
}
@if((User.Identity?.IsAuthenticated ?? false) && User.IsInRole(UserRoles.Admin.ToString()))
{
    <h2>Edit PushUp</h2>

    <form mothod="post" asp-controller="PushUp" asp-action="Edit" asp-route-id="@Model.Id">
        <p>
            <label>Name</label>
            <input type="text" name="Name" value="@Model.Name"/>
        </p>

        <p>
            <label>Difficulty</label>
            <input type="text" name="Difficulty" value="@Model.Difficulty" />
        </p>

        <p>
            <label>Type</label>
            <input type="text" name="Type" value="@Model.Type" />
        </p>

        <button type="submit">Edit</button>

        <button>
            <a asp-controller="PushUp" asp-action="Index">Cancel</a>
        </button>
    </form>
}
else
{
    <h2 class="error">You can't access this page if you aren't logged in.</h2>
}